<!DOCTYPE html>

<html>
  <head>
    <title>couch_companies_crud</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: orange;
      }
      #down {
        width: 100%;
        height: auto;
      }
      #xcx {
        color: rebeccapurple;
        font-style: italic;
        text-decoration: underline;
      }
    </style>
  </head>

  <body id="back">
    <br />
    <br />
    <br />
    <h1 id="xcx">CouchDb Data Retrive</h1>
    <br />
    <br />
    <label for="rank_to_update">Enter the Rank you want to update:</label><br />
    <input type="number" name="rank" id="rank" /><br />
    <a href="update_emp.html">
      <input type="submit" value="Find Employee" id="input_submit" /><br
    /></a>
    <br />
    <br />
    <br />
    <img
      id="down"
      src="taubah.jpg"
      alt="load nhi hou rhi met acha lgwao bhai"
    />
  </body>
</html>
